<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Edit Author</title>
</head>
<body>
<form action = "#" th:action="@{/editbook}" th:object="${book}" method="post">
<input type="hidden" th:field="*{id}"/>
<p> Change Name: <input type="text" th:field="*{name}" /></p>

<p>
<select th:field="*{author}">
  <option
      th:each="author: ${authors}"
      th:value="${author.id}"
      th:text="${author.name}" ></option>
</select>
</p>
<p>

<select th:field="*{genre}">
  <option
      th:each="genre: ${genres}"
      th:value="${genre.id}"
      th:text="${genre.genreName}" ></option>
</select>
</p>

<p><input type="submit" value="Submit" /></p>




</form>
</body>
</html>